{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mx-auto">This is the homepage for my Go web application!</h1>
                <p class="mx-auto">It's served by Go's built-in HTTP server.</p>
            </div>
        </div>
    </div>
{{end}}
